# python
.venv/
__pycache__/
*.pyc

venv/
lib/
bin/
include/
lib/
pyvenv.cfg


# os junk
.DS_Store

# local data / outputs
frames/
debug/

apikey_env
.*.swp

# secrets and env
lastWorking/env
oldStuff/env
oldStuff/bwLastWorking/env
# any other secret-y files or folders you use:
*.key
*.pem
*.crt
*.p12
templates_temp/
